<p-toast></p-toast>

<div class="p-6 max-w-[1000px] mx-auto animate-fadein text-left">
  <div class="mb-10">
    <h1 class="text-4xl font-black text-slate-800 tracking-tight">Buscador de Empleo</h1>
    <p class="text-slate-500 font-medium italic">Oportunidades basadas en tu formación</p>
  </div>

  <div class="flex flex-col gap-6">
    @if (cargando) {
      <app-ofertas-skeleton [count]="5"></app-ofertas-skeleton>
    } @else {
      @for (oferta of listaOfertas; track oferta.id) {
        
        <app-oferta-card
          [oferta]="oferta" 
          [isExpanded]="ofertaExpandidaId === oferta.id"
          (onToggle)="toggleExpandir(oferta.id)">
          
          @if (ofertaExpandidaId === oferta.id) {
            <app-oferta-detalle
              [detalle]="detalleCargado" 
              [cargando]="cargandoDetalle"
              (onInscribirse)="inscribirse($event)"
              (onVerEmpresa)="displayEmpresa = true">
            </app-oferta-detalle>
          }
        </app-oferta-card>

      } @empty {
        <div class="text-center py-20 bg-slate-50 rounded-[3rem] border-2 border-dashed border-slate-200">
          <i class="pi pi-search text-4xl text-slate-300 mb-4"></i>
          <p class="text-slate-500 font-bold">No hemos encontrado ofertas para tu perfil.</p>
        </div>
      }
    }

    @if (totalRecords > rows) {
      <div class="mt-8 mb-12 flex justify-center bg-white p-4 rounded-4xl border border-slate-100 shadow-sm">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="totalRecords"
          [rowsPerPageOptions]="[10, 20, 30]"
          styleClass="border-none">
        </p-paginator>
      </div>
    }
  </div>
</div>

<app-empresa-drawer
  [(visible)]="displayEmpresa"
  [empresa]="detalleCargado?.empresa"
  (onInscribirse)="inscribirse(detalleCargado?.id)">
</app-empresa-drawer>