::ng-deep .menu-items-container .p-button,
::ng-deep .menu-items-alumno .p-button {
    font-size: 18px !important;
    font-weight: 700 !important;
    border-radius: 1.25rem !important;
    transition: all 0.2s ease;
    padding: 1rem 1.25rem !important;
    border: none !important;
    justify-content: flex-start !important;
    text-align: left !important;
    color: #64748b; /* slate-500 por defecto */
}

/* Iconos */
::ng-deep .menu-items-container .p-button .p-button-icon,
::ng-deep .menu-items-alumno .p-button .p-button-icon {
    font-size: 1.3rem !important;
    margin-right: 12px;
}

/* Efecto Hover común */
::ng-deep .menu-items-container .p-button:hover,
::ng-deep .menu-items-alumno .p-button:hover {
    background: #f1f5f9 !important; /* slate-100 */
    transform: translateX(4px);
}
::ng-deep .active-admin {
    /* Un verde un pelín más marcado para el fondo */
    background-color: #d1fae5 !important; /* emerald-100 */
    /* Un verde oscuro con mucha fuerza */
    color: #065f46 !important;           /* emerald-800 */
    font-weight: 900 !important;
    border-radius: 9999px !important;    /* Bordes totalmente redondeados */
}

/* Icono en el botón activo de Admin */
::ng-deep .active-admin .p-button-icon {
    color: #059669 !important; /* emerald-600 */
}

/* HOVER PARA ADMIN: Ahora más integrado */
::ng-deep .menu-items-container .p-button:hover:not(.active-admin) {
    background-color: #ecfdf5 !important; /* emerald-50 */
    color: #059669 !important;
    border-radius: 9999px !important;
    transform: translateX(4px);
}

/* Aseguramos que el icono en hover también cambie */
::ng-deep .menu-items-container .p-button:hover:not(.active-admin) .p-button-icon {
    color: #059669 !important;
}