/* Estilo para el botón activo */
::ng-deep .active-link {
   background-color: #fff7ed !important; /* orange-50: Un naranja muy suave de fondo */
    color: #ea580c !important; /* orange-600: El texto en naranja fuerte */
    box-shadow: inset 6px 0 0 #ea580c; /* La barra lateral ahora es naranja y más gruesa */

}

/* Forzar que el icono y el texto escalen bien */
::ng-deep .p-button-text {
    font-size: 22px;
    border: none !important;
    justify-content: flex-start !important;
    text-align: left !important;
   
    
}

::ng-deep .p-button-text:hover {
    background: #f8fafc !important; /* slate-50 */
}
/* Contenedor del menú */
::ng-deep .menu-items-container .p-button {
   
    font-size: 20px !important;
    font-weight: 800 !important;
    border-radius: 1.25rem !important;
    transition: all 0.2s ease;
}

/* Iconos en naranja */
::ng-deep .menu-items-container .p-button .p-button-icon {

    font-size: 1.4rem !important;
}





/* Efecto hover suave */
::ng-deep .menu-items-container .p-button:hover:not(.active-admin) {
    background:#059669 !important;
    color: white;
    transform: translateX(4px);
}